<div class="footer text-center" style="background: #f0f0f0">
  <div class="">
    Apartment Reviews
  </div>
  <div class="">
    <h5 class="">Dapatkan Info Terkini di Apartment Reviews</h5>
    <p class="">Dapatkan "info apartment murah" hanya di apartmen reviews.
      Mau "Sewa Apartment Murah"?
    </p>
  </div>
  <div class="text-muted">
    <%= getDate(new Date()) %>
  </div>
</div>