<div class="card text-center">
  <div class="card-header">
    Apartment Reviews
  </div>
  <div class="card-body">
    <h5 class="card-title">Dapatkan Info Terkini di Apartment Reviews</h5>
    <p class="card-text">Dapatkan "info apartment murah" hanya di apartmen reviews.
      Mau "Sewa Apartment Murah"?
    </p>
  </div>
  <div class="card-footer text-muted">
    27 Maret 2019
  </div>
</div>