<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <title>Apartment Reviews</title>
</head>

<body>
  <%include ../partials/navbar %>
  <div class="jumbotron jumbotron-fluid">
    <div class="text-center">
      <h1 class="display-4">Apartment Reviews</h1>
      <p class="lead">Dapatkan info Apartment Murah, Apartment harian, Apartment bebas, dan info Apartment lainnya</p>
      <div class="d-flex w-100 justify-content-center">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Kota" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>

  </div>

  <% include ../partials/footer %>
</body>

</html>